body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1F2937;
}

.hero-content {
    background-color: #1F2937;
}

.hero-content h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

.footer {
    display: flex;
    margin-top: auto;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
}

#hero-img {
    width: 150px;
    height: 50px;
}